<div>
    <h2 id="page-heading">
        <span>Attack Cycles</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-attack-cycle" [routerLink]="['/attack-cycle/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Attack Cycle
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="attackCycles?.length === 0">
        <span>No attackCycles found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="attackCycles?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Name</span></th>
                    <th scope="col" ><span>Attack</span></th>
                    <th scope="col" ><span>Character</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let attackCycle of attackCycles ;trackBy: trackId">
                    <td><a [routerLink]="['/attack-cycle', attackCycle.id, 'view']">{{ attackCycle.id }}</a></td>
                    <td>{{ attackCycle.name }}</td>
                    <td>
                        <span *ngFor="let attack of attackCycle.attacks; let last = last">
                            <a class="form-control-static" [routerLink]="['/attack', attack?.id, 'view']">{{ attack.id }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td>
                        <div *ngIf="attackCycle.character">
                            <a [routerLink]="['/character', attackCycle.character?.id, 'view']" >{{ attackCycle.character?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/attack-cycle', attackCycle.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/attack-cycle', attackCycle.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(attackCycle)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
