<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>

    <div class="col-md-9">
        <h1 class="display-4">Welcome, Java Hipster!</h1>

        <p class="lead">This is your homepage</p>

        <div [ngSwitch]="isAuthenticated()">
            <div *ngSwitchCase="true">
                <div class="alert alert-success">
                    <span id="home-logged-message" *ngIf="account">You are logged in as user "{{ account.login }}".</span>
                </div>

                <ng-container *ngIf="characters">
                    <span>Select a character: </span>

                    <select [(ngModel)]="selectedCharacter">
                        <option *ngFor="let character of characters" [ngValue]="character"> {{ character.name }}</option>
                    </select>

                    <br>
                    <p>Character selected: {{ selectedCharacter.name }}</p>
                </ng-container>

            </div>

            <!-- automatically redirect to login if not authenticated when characters are loaded -->
            <div *ngSwitchCase="false">
                <span *ngIf="characters">{{ login() }}</span>
            </div>
        </div>

    </div>
</div>
